p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.111;
	margin-bottom:13px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h3._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.Bull-list-flush {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:7px;
	margin-left:33px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.Bull-list-flush-top {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:7px;
	margin-left:33px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h2.Chap-title {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:2em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.083;
	margin-bottom:86px;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Keyterm_text {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Refs {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
h3.Refs-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Review-Exe-NL-First {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.444;
	margin-bottom:4px;
	margin-left:43px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
h3.Review-Exe-hd {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:10px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:12px;
	text-transform:none;
	widows:1;
	background-color:#006db6;
}
.AhimReviewHead {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:1.1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:10px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:12px;
	text-transform:none;
	widows:1;
	border:1px solid #006db6;
	paddding-top: 10px;
}
p.Text {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:1;
}
p.Text-flush {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
span.Italic {
	font-style:italic;
	font-weight:normal;
}
span.NL-Color_Check {
	color:#006db6;
	font-style:normal;
	font-weight:normal;
}
span.Review-NL {
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:500;
}
p.ParaOverride-1 {
	margin-left:11px;
	text-align:left;
	text-indent:-11px;
}
h3.ParaOverride-2 {
	margin-top:20px;
}
h3.ParaOverride-3 {
	margin-top:30px;
}
p.ParaOverride-4 {
	margin-top:22px;
}
p.ParaOverride-5 {
	margin-left:29px;
	margin-top:22px;
	text-indent:0px;
}
p.ParaOverride-6 {
	margin-top:22px;
	text-indent:-15px;
}
span.CharOverride-1 {
	font-family:Times, serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-family:Times, serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-family:Times, serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:Times;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	font-family:Times, serif;
	font-size:58%;
	font-style:normal;
	font-weight:bold;
	vertical-align:super;
}
span.CharOverride-6 {
	font-family:Times, serif;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-7 {
	font-family:"ITC Franklin Gothic Std Med";
}
span.CharOverride-8 {
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-9 {
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-style:italic;
	font-weight:500;
}
span.CharOverride-10 {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-style:italic;
	font-weight:500;
}
span.CharOverride-11 {
	-epub-text-combine:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-12 {
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-13 {
	font-family:"ITC Franklin Gothic Std Heavy";
	font-style:italic;
	font-weight:normal;
}
span._idGenCharOverride-1 {
	font-family:"ITC Franklin Gothic Std Med";
}
span._idGenCharOverride-2 {
	font-size:58%;
}
#_idContainer012, #_idContainer018, #_idContainer022, #_idContainer026, #_idContainer030, #_idContainer034, #_idContainer038 {
	height:33.51px;
	left:0px;
	position:relative;
	top:0px;
	width:5.95px;
	z-index:1;
}
#_idContainer013, #_idContainer019, #_idContainer023, #_idContainer027, #_idContainer031, #_idContainer035, #_idContainer039 {
	height:33.72px;
	left:6px;
	position:relative;
	top:-34px;
	width:28.01px;
	z-index:0;
}
#_idContainer014, #_idContainer020, #_idContainer024, #_idContainer028, #_idContainer032, #_idContainer036, #_idContainer040 {
	height:33.51px;
	left:33px;
	position:relative;
	top:-67px;
	width:5.95px;
	z-index:2;
}
#_idContainer015, #_idContainer021, #_idContainer025, #_idContainer029, #_idContainer033, #_idContainer037, #_idContainer041 {
	display:inline-block;
	height:34px;
	position:relative;
	width:39px;
}
#_idContainer017 {
	display:inline-block;
	height:37px;
	position:relative;
	width:53px;
}
#_idContainer042 {
	display:inline-block;
	height:233px;
	width:413px;
}
#_idContainer045 {
	display:inline-block;
	height:16px;
	position:relative;
	width:37px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-color:#006db6;
	border-width:1px;
}
div._idGenObjectLayout-1 {
	margin:3px auto 3px auto;
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:center;
}
div._idGenWritingDirection-1 {
	-epub-writing-mode:horizontal-tb;
}
