p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.111;
	margin-bottom:13px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic (T1) Heavy Oblique", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.083;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:18px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.B-num-list-flush, li.B-num-list-flush {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:32px;
	margin-right:12px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.B-num-list-flush-2dig {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:32px;
	margin-right:12px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.B-num-list-flush-top {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:32px;
	margin-right:12px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.B-text {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:84px;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.B-text-flush {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.B-title {
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.BL-ifen {
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:49px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.Bull-list-flush {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:7px;
	margin-left:33px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.Bull-list-flush-top {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:7px;
	margin-left:33px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bull_hollow {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	margin-bottom:7px;
	margin-left:45px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.CG-List1 {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:84px;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:21px;
	text-transform:none;
	widows:2;
}
p.Chap-num {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Chap-title {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:2em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.083;
	margin-bottom:86px;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Fig-leg {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Figure-caption {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.IL-sub {
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:24px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Num-list-flush {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:5px;
	margin-left:43px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.Num-list-top {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:7px;
	margin-left:43px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.Ref-title {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Refs {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Review-Exe-hd-2line {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.125;
	margin-bottom:10px;
	margin-left:12px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-col-hd {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-ftnote {
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-sou {
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.TA-2 {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:13px;
	margin-left:13px;
	margin-right:0;
	margin-top:1px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Text {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:1;
}
p.Text-flush {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.XM_first {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:128px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-67px;
	text-transform:none;
	widows:1;
}
p.exer-long-2-digit {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:4px;
	margin-left:38px;
	margin-right:12px;
	margin-top:24px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-24px;
	text-transform:none;
	widows:1;
}
p.exer-long_first {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:4px;
	margin-left:38px;
	margin-right:12px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.exer-long_mid {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:4px;
	margin-left:38px;
	margin-right:12px;
	margin-top:24px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
span.BL {
	color:#006db6;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
}
span.Italic {
	font-style:italic;
	font-weight:normal;
}
span.Review-NL {
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:500;
}
span.color {
	color:#006db6;
	font-style:normal;
	font-weight:normal;
}
table.TableOverride-1 {
	border-collapse:collapse;
}
td.CellOverride-1 {
	border-bottom-color:#006db6;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-width:1px;
}
td.CellOverride-2 {
	border-bottom-color:#006db6;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-width:0px;
	border-right-color:#006db6;
	border-top-color:#006db6;
	border-top-width:0px;
	padding-bottom:6px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
td.CellOverride-3 {
	background-color:#c9d7ec;
	border-bottom-color:#006db6;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-width:1px;
}
td.CellOverride-4 {
	background-color:#c9d7ec;
	border-bottom-color:#006db6;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-width:1px;
	vertical-align:middle;
}
td.CellOverride-5 {
	border-bottom-color:#006db6;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-width:1px;
	padding-top:4px;
}
td.CellOverride-6 {
	border-bottom-color:#006db6;
	border-bottom-width:0px;
	border-left-color:#006db6;
	border-left-width:0px;
	border-right-color:#006db6;
	border-top-color:#006db6;
	border-top-width:1px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:6px;
}
td.CellOverride-7 {
	background-color:#c9d7ec;
	border-bottom-color:#006db6;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-width:1px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-8 {
	padding-bottom:4px;
}
td.CellOverride-9 {
	padding-bottom:4px;
	padding-top:4px;
}
li.ParaOverride-1 {
	margin-top:13px;
	text-indent:0px;
}
p.ParaOverride-2 {
	margin-bottom:8px;
}
p.ParaOverride-3 {
	margin-bottom:12px;
}
p.ParaOverride-4 {
	margin-top:25px;
}
p.ParaOverride-5 {
	font-size:1em;
	list-style-type:none;
	margin-left:12px;
}
p.ParaOverride-6 {
	font-size:1em;
	margin-bottom:7px;
	margin-left:12px;
}
p.ParaOverride-7 {
	font-size:1em;
	margin-left:12px;
}
p.ParaOverride-8 {
	text-indent:18px;
}
p.ParaOverride-9 {
	margin-left:6px;
}
p.ParaOverride-10 {
	margin-left:121px;
	text-indent:-20px;
}
p.ParaOverride-11 {
	-epub-hyphens:none;
	margin-left:121px;
	text-indent:-20px;
}
p.ParaOverride-12 {
	-epub-hyphens:none;
	margin-left:121px;
	margin-top:0px;
	text-indent:-20px;
}
p.ParaOverride-13 {
	-epub-text-align-last:left;
	text-align:justify;
}
p.ParaOverride-14 {
	list-style-type:none;
}
p.ParaOverride-15 {
	margin-bottom:13px;
	margin-left:121px;
	margin-top:6px;
	text-indent:-18px;
}
p.ParaOverride-16 {
	margin-left:121px;
	margin-top:6px;
	text-indent:-18px;
}
p.ParaOverride-17 {
	margin-top:14px;
}
p.ParaOverride-18 {
	list-style-position:outside;
	list-style-type:none;
	text-indent:-19px;
}
p.ParaOverride-19 {
	margin-top:19px;
}
p.ParaOverride-20 {
	margin-top:40px;
}
p.ParaOverride-21 {
	margin-top:29px;
}
p.ParaOverride-22 {
	margin-top:30px;
}
p.ParaOverride-23 {
	margin-top:0px;
}
p.ParaOverride-24 {
	margin-top:22px;
}
p.ParaOverride-25 {
	text-align:center;
}
p.ParaOverride-26 {
	margin-left:3px;
}
p.ParaOverride-27 {
	margin-left:4px;
}
p.ParaOverride-28 {
	margin-left:2px;
}
p.ParaOverride-29 {
	margin-left:1px;
}
p.ParaOverride-30 {
	margin-left:4px;
	text-align:center;
}
p.ParaOverride-31 {
	margin-bottom:5px;
}
p.ParaOverride-32 {
	list-style-position:inside;
	list-style-type:none;
	margin-left:0px;
	margin-right:0px;
	text-indent:0px;
}
p.ParaOverride-33 {
	margin-top:7px;
}
span.CharOverride-1 {
	font-family:Times, serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-family:Times, serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:Times, serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	font-family:"CommercialPi BT";
	font-size:0.545em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#006db6;
	font-family:Times, serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	-epub-text-combine:none;
	color:#000000;
	font-family:Times, serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-7 {
	font-family:"ITC Franklin Gothic Std Med";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-family:"ITC Franklin Gothic Std Book";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Med";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family:Times;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-size:1em;
}
span.CharOverride-12 {
	color:#000000;
	font-family:Times, serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-14 {
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:1em;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-15 {
	font-family:"ITC Franklin Gothic Std Med";
}
span.CharOverride-16 {
	font-family:"ITC Franklin Gothic Std Heavy";
	font-style:oblique;
	font-weight:normal;
}
span.CharOverride-17 {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-18 {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.917em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-19 {
	font-family:"Times Ten LT Std Roman", serif;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-20 {
	font-family:Times, serif;
	font-size:58%;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-21 {
	font-family:Times, serif;
	font-size:1.124em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-22 {
	font-family:Times, serif;
	font-size:1.222em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-23 {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-24 {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span._idGenCharOverride-1 {
	font-size:1em;
}
span._idGenCharOverride-2 {
	font-family:"ITC Franklin Gothic Std Med";
}
td._idGenCellOverride-1 {
	border-right-color:#006db6;
	border-right-style:solid;
	border-right-width:0px;
}
td._idGenCellOverride-2 {
	background-color:#c9d7ec;
	border-bottom-color:#006db6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-style:solid;
	border-top-width:1px;
}
td._idGenCellOverride-3 {
	border-bottom-color:#006db6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-style:solid;
	border-top-width:1px;
}
#_idContainer400 {
	display:inline-block;
	height:21px;
	position:relative;
	width:35px;
}
#_idContainer401, #_idContainer407, #_idContainer432, #_idContainer436, #_idContainer441, #_idContainer446, #_idContainer450, #_idContainer454, #_idContainer462, #_idContainer466, #_idContainer475, #_idContainer479, #_idContainer484, #_idContainer488 {
	height:33.51px;
	left:0px;
	position:relative;
	top:0px;
	width:5.95px;
	z-index:1;
}
#_idContainer402 {
	height:33.46px;
	left:6px;
	position:relative;
	top:-34px;
	width:27.26px;
	z-index:0;
}
#_idContainer403, #_idContainer409, #_idContainer434, #_idContainer438, #_idContainer443, #_idContainer448, #_idContainer452, #_idContainer456, #_idContainer464, #_idContainer468, #_idContainer477, #_idContainer481, #_idContainer486, #_idContainer490 {
	height:33.51px;
	left:33px;
	position:relative;
	top:-67px;
	width:5.95px;
	z-index:2;
}
#_idContainer404, #_idContainer410, #_idContainer435, #_idContainer439, #_idContainer444, #_idContainer449, #_idContainer453, #_idContainer457, #_idContainer465, #_idContainer469, #_idContainer478, #_idContainer482, #_idContainer487, #_idContainer491 {
	display:inline-block;
	height:34px;
	position:relative;
	width:39px;
}
#_idContainer406 {
	display:inline-block;
	height:123px;
	position:relative;
	width:68px;
}
#_idContainer408, #_idContainer433, #_idContainer437, #_idContainer442, #_idContainer447, #_idContainer451, #_idContainer455, #_idContainer463, #_idContainer467, #_idContainer476, #_idContainer480, #_idContainer485, #_idContainer489 {
	height:33.72px;
	left:6px;
	position:relative;
	top:-34px;
	width:28.01px;
	z-index:0;
}
#_idContainer411 {
	display:inline-block;
	height:21px;
	position:relative;
	width:428px;
}
#_idContainer414 {
	display:inline-block;
	height:69px;
	width:81px;
}
#_idContainer415 {
	display:inline-block;
	height:12px;
	position:relative;
	width:6px;
}
#_idContainer416 {
	display:inline-block;
	height:7px;
	position:relative;
	width:71px;
}
#_idContainer417, #_idContainer426, #_idContainer428 {
	display:inline-block;
	height:13px;
	position:relative;
	width:428px;
}
#_idContainer419, #_idContainer422 {
	display:inline-block;
	height:35px;
	position:relative;
	width:428px;
}
#_idContainer421 {
	display:inline-block;
	height:19px;
	position:relative;
	width:428px;
}
#_idContainer424 {
	display:inline-block;
	height:24px;
	position:relative;
	width:428px;
}
#_idContainer431 {
	display:inline-block;
	height:10px;
	position:relative;
	width:52px;
}
#_idContainer440 {
	display:inline-block;
	height:151px;
	position:relative;
	width:414px;
}
#_idContainer445 {
	display:inline-block;
	height:219px;
	position:relative;
	width:414px;
}
#_idContainer458 {
	display:inline-block;
	height:231px;
	position:relative;
	width:414px;
}
#_idContainer460 {
	height:12.00px;
	left:12px;
	position:relative;
	top:-237px;
	width:6.13px;
	z-index:3;
}
#_idContainer461 {
	display:inline-block;
	height:277px;
	position:relative;
	width:414px;
}
#_idContainer470 {
	height:6.76px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:0px;
	width:239.25px;
	z-index:1;
}
#_idContainer471 {
	height:241.04px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:5px;
	width:317.00px;
	z-index:0;
}
#_idContainer472 {
	display:inline-block;
	height:253px;
	position:relative;
	width:317px;
}
#_idContainer473 {
	display:inline-block;
	height:13px;
	width:428px;
}
#_idContainer493 {
	display:inline-block;
	height:6px;
	position:relative;
	width:60px;
}
#_idContainer494 {
	height:6.00px;
	left:0px;
	position:relative;
	top:8px;
	width:59.50px;
	z-index:2;
}
#_idContainer495 {
	height:330.95px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:8px;
	width:414.00px;
	z-index:0;
}
#_idContainer496 {
	display:inline-block;
	height:345px;
	position:relative;
	width:414px;
}
#_idContainer497 {
	display:inline-block;
	height:451px;
	width:413px;
}
#_idContainer498 {
	display:inline-block;
	height:446px;
	width:413px;
}
#_idContainer499 {
	display:inline-block;
	height:16px;
	position:relative;
	width:13px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:174px;
	width:240px;
}
img._idGenObjectAttribute-3 {
	height:230px;
	width:408px;
}
div._idGenObjectAttribute-4 {
	height:243.07px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:19px;
	width:413.00px;
	z-index:2;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	border-color:#006db6;
}
div._idGenObjectStyleOverride-4 {
	border-color:#006db6;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-5 {
	border-color:#006db6;
	border-width:1px;
}
div._idGenObjectLayout-1 {
	margin:3px auto 3px auto;
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:center;
}
div._idGenWritingDirection-1 {
	-epub-writing-mode:horizontal-tb;
}
