p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.111;
	margin-bottom:13px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic (T1) Heavy Oblique", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.083;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:18px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.B-num-list-flush {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:32px;
	margin-right:12px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.B-num-list-flush-2dig {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:32px;
	margin-right:12px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.B-num-list-flush-top {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:32px;
	margin-right:12px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.B-text-flush {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.B-title {
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.Bull-list-flush {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:7px;
	margin-left:33px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.Bull-list-flush-top {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:7px;
	margin-left:33px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.CG_Txt {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:84px;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Chap-num {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Chap-title {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:2em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.083;
	margin-bottom:86px;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Ex {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:13px;
	margin-left:18px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Figure-caption {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Keyterm_text {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.NL_Last {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:13px;
	margin-left:43px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.NL_first {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:7px;
	margin-left:43px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.Refs {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Refs-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Review-Exe {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:14px;
	margin-left:18px;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Review-Exe-NL {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.444;
	margin-bottom:4px;
	margin-left:43px;
	margin-right:12px;
	margin-top:22px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.Review-Exe-NL-First {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.444;
	margin-bottom:4px;
	margin-left:43px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.Review-Exe-hd--2line- {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:10px;
	margin-left:12px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Text {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:1;
}
p.Text-flush {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.XM_IL {
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:128px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.XM_first {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:128px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-67px;
	text-transform:none;
	widows:1;
}
p.tabbody {
	color:#000000;
	font-family:Times, serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Italic {
	font-style:italic;
	font-weight:normal;
}
span.Medium {
	font-style:normal;
	font-weight:normal;
}
span.Normal {
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.Review-NL {
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:500;
}
table.TableOverride-1 {
	border-collapse:collapse;
}
table.TableOverride-2 {
	border-collapse:collapse;
	margin-top:3px;
}
td.CellOverride-1 {
	border-bottom-color:#006db6;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.CellOverride-2 {
	background-color:#c9d7ec;
	border-bottom-color:#006db6;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
p.ParaOverride-1 {
	margin-bottom:78px;
}
p.ParaOverride-2 {
	margin-top:0px;
}
p.ParaOverride-3 {
	orphans:2;
	widows:2;
}
p.ParaOverride-4 {
	margin-bottom:10px;
}
p.ParaOverride-5 {
	margin-top:10px;
	text-indent:0px;
}
p.ParaOverride-6 {
	-epub-hyphens:none;
}
p.ParaOverride-7 {
	font-size:0.909em;
	margin-left:95px;
	orphans:2;
	widows:2;
}
li.ParaOverride-8 {
	-epub-hyphens:none;
	margin-bottom:0px;
	text-indent:0px;
}
p.ParaOverride-9 {
	font-size:0.909em;
	margin-bottom:6px;
	margin-left:95px;
}
p.ParaOverride-10 {
	font-size:0.909em;
	margin-bottom:13px;
	margin-left:95px;
	orphans:2;
	widows:2;
}
li.ParaOverride-11 {
	margin-bottom:0px;
	margin-top:13px;
	text-indent:0px;
}
p.ParaOverride-12 {
	margin-bottom:10px;
	margin-top:6px;
}
p.ParaOverride-13 {
	text-indent:0px;
}
p.ParaOverride-14 {
	margin-bottom:0px;
}
p.ParaOverride-15 {
	margin-bottom:0px;
	margin-top:0px;
}
p.ParaOverride-16 {
	margin-top:16px;
}
p.ParaOverride-17 {
	text-indent:18px;
}
p.ParaOverride-18 {
	margin-top:15px;
}
p.ParaOverride-19 {
	margin-top:11px;
}
p.ParaOverride-20 {
	margin-bottom:10px;
	margin-top:2px;
}
p.ParaOverride-21 {
	margin-bottom:12px;
}
p.ParaOverride-22 {
	page-break-after:avoid;
}
p.ParaOverride-23 {
	text-indent:-25px;
}
p.ParaOverride-24 {
	margin-top:0px;
	text-indent:-25px;
}
p.ParaOverride-25 {
	text-align:right;
}
span.CharOverride-1 {
	font-family:Times;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-2 {
	font-family:Times;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-family:"ITC Franklin Gothic Std Med";
}
span.CharOverride-4 {
	font-family:"ITC Franklin Gothic Std Book";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-5 {
	font-family:Times;
}
span.CharOverride-6 {
	-epub-text-combine:none;
	color:#000000;
	font-family:Times, serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-7 {
	font-size:0.889em;
}
span.CharOverride-8 {
	color:#006db6;
	font-family:Times;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-family:Times, serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family:"Times Roman ";
	font-size:1em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-family:Times;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#ffffff;
}
span.CharOverride-13 {
	-epub-text-combine:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-14 {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-15 {
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-16 {
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-style:italic;
	font-weight:normal;
}
p._idGenParaOverride-1 {
	font-size:0.909em;
	margin-left:95px;
}
span._idGenCharOverride-1 {
	font-family:"ITC Franklin Gothic Std Med";
}
span._idGenCharOverride-2 {
	font-size:1em;
}
td._idGenCellOverride-1 {
	border-bottom-color:#006db6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-style:solid;
	border-top-width:1px;
}
#_idContainer1920, #_idContainer1926, #_idContainer1934, #_idContainer1939, #_idContainer1943, #_idContainer1948, #_idContainer1952, #_idContainer1956, #_idContainer1960, #_idContainer1964, #_idContainer1969, #_idContainer1973, #_idContainer1977, #_idContainer1981, #_idContainer1985, #_idContainer1989, #_idContainer1993 {
	height:33.51px;
	left:0px;
	position:relative;
	top:0px;
	width:5.95px;
	z-index:1;
}
#_idContainer1921, #_idContainer1927, #_idContainer1935, #_idContainer1940, #_idContainer1944, #_idContainer1949, #_idContainer1953, #_idContainer1957, #_idContainer1961, #_idContainer1965, #_idContainer1970, #_idContainer1974, #_idContainer1978, #_idContainer1982, #_idContainer1986, #_idContainer1990, #_idContainer1994 {
	height:33.72px;
	left:6px;
	position:relative;
	top:-34px;
	width:28.01px;
	z-index:0;
}
#_idContainer1922, #_idContainer1928, #_idContainer1936, #_idContainer1941, #_idContainer1945, #_idContainer1950, #_idContainer1954, #_idContainer1958, #_idContainer1962, #_idContainer1966, #_idContainer1971, #_idContainer1975, #_idContainer1979, #_idContainer1983, #_idContainer1987, #_idContainer1991, #_idContainer1995 {
	height:33.51px;
	left:33px;
	position:relative;
	top:-67px;
	width:5.95px;
	z-index:2;
}
#_idContainer1923, #_idContainer1929, #_idContainer1937, #_idContainer1942, #_idContainer1946, #_idContainer1951, #_idContainer1955, #_idContainer1959, #_idContainer1963, #_idContainer1967, #_idContainer1972, #_idContainer1976, #_idContainer1980, #_idContainer1984, #_idContainer1988, #_idContainer1992, #_idContainer1996 {
	display:inline-block;
	height:34px;
	position:relative;
	width:39px;
}
#_idContainer1924 {
	display:inline-block;
	height:21px;
	position:relative;
	width:103px;
}
#_idContainer1925 {
	display:inline-block;
	height:46px;
	position:relative;
	width:103px;
}
#_idContainer1930 {
	display:inline-block;
	height:64px;
	width:81px;
}
#_idContainer1931 {
	display:inline-block;
	height:20px;
	position:relative;
	width:419px;
}
#_idContainer1933 {
	display:inline-block;
	height:21px;
	position:relative;
	width:44px;
}
#_idContainer1947 {
	display:inline-block;
	height:3px;
	position:relative;
	width:32px;
}
#_idContainer1968 {
	display:inline-block;
	height:220px;
	position:relative;
	width:414px;
}
#_idContainer1997 {
	display:inline-block;
	height:340px;
	width:413px;
}
#_idContainer1998 {
	height:7.04px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:3px;
	width:93.53px;
	z-index:0;
}
#_idContainer1999 {
	height:10.56px;
	left:53px;
	position:relative;
	top:-7px;
	width:5.56px;
	z-index:1;
}
#_idContainer2000 {
	display:inline-block;
	height:11px;
	position:relative;
	width:94px;
}
#_idContainer2001 {
	display:inline-block;
	height:604px;
	width:413px;
}
#_idContainer2002 {
	display:inline-block;
	height:106px;
	width:413px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	border-color:#006db6;
	border-width:1px;
}
div._idGenObjectLayout-1 {
	margin:3px auto 3px auto;
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:center;
}
div._idGenWritingDirection-1 {
	-epub-writing-mode:horizontal-tb;
}
