p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.111;
	margin-bottom:13px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic (T1) Heavy Oblique", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.083;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:18px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.B-num-list-flush {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.222;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:32px;
	margin-right:12px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.B-num-list-flush-top {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.222;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:32px;
	margin-right:12px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.B-text-flush {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.B-title {
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.Bull-list-flush, p.Bull-list-flush {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:7px;
	margin-left:33px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.Bull-list-flush-top {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:7px;
	margin-left:33px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.CG_Txt {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.182;
	margin-bottom:0;
	margin-left:84px;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.CG_list-para-no-indent {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.182;
	margin-bottom:0;
	margin-left:124px;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.CG_list2 {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.182;
	margin-bottom:0;
	margin-left:81px;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:21px;
	text-transform:none;
	widows:2;
}
p.Chap-num {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Chap-title {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:2em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.083;
	margin-bottom:86px;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Ex {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:13px;
	margin-left:18px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Figure-caption {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.IL-sub {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:24px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.IL_Last {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:13px;
	margin-left:18px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.IL_first {
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:18px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Keyterm_text {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-11px;
	text-transform:none;
	widows:1;
}
p.Refs {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Refs-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Review-Exe {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.222;
	margin-bottom:14px;
	margin-left:18px;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Review-Exe-2digit {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.222;
	margin-bottom:7px;
	margin-left:43px;
	margin-right:12px;
	margin-top:22px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-25px;
	text-transform:none;
	widows:1;
}
p.Review-Exe-NL {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.444;
	margin-bottom:4px;
	margin-left:43px;
	margin-right:12px;
	margin-top:22px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.Review-Exe-NL-First {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.444;
	margin-bottom:4px;
	margin-left:43px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.Review-Exe-hd--2line- {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:10px;
	margin-left:12px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Text {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:1;
}
p.Text-flush {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.XM_first {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:128px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-67px;
	text-transform:none;
	widows:1;
}
p.tabbody {
	color:#000000;
	font-family:Times, serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.tabhead {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Italic {
	font-style:italic;
	font-weight:normal;
}
span.Normal {
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.Review-NL {
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:500;
}
span.cbl {
	color:#006db6;
	font-style:normal;
	font-weight:normal;
}
table.TableOverride-1 {
	border-collapse:collapse;
}
td.CellOverride-1 {
	border-bottom-color:#006db6;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
p.ParaOverride-1 {
	margin-bottom:79px;
}
p.ParaOverride-2 {
	margin-top:0px;
}
p.ParaOverride-3 {
	margin-bottom:10px;
	margin-top:10px;
}
p.ParaOverride-4 {
	margin-left:125px;
	text-indent:-22px;
}
p.ParaOverride-5 {
	margin-left:125px;
}
p.ParaOverride-6 {
	margin-left:125px;
	page-break-after:avoid;
	text-indent:-22px;
}
p.ParaOverride-7 {
	-epub-hyphens:none;
	margin-left:84px;
	text-indent:0px;
}
p.ParaOverride-8 {
	margin-bottom:0px;
	orphans:2;
	widows:2;
}
p.ParaOverride-9 {
	margin-left:128px;
}
p.ParaOverride-10 {
	margin-bottom:0px;
	margin-left:128px;
	orphans:2;
	widows:2;
}
p.ParaOverride-11 {
	margin-top:28px;
}
p.ParaOverride-12 {
	margin-bottom:0px;
}
p.ParaOverride-13 {
	margin-bottom:0px;
	margin-top:0px;
}
p.ParaOverride-14 {
	list-style-type:none;
}
p.ParaOverride-15 {
	list-style-position:inside;
	list-style-type:none;
	text-indent:0px;
}
p.ParaOverride-16 {
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0px;
	text-indent:0px;
}
li.ParaOverride-17 {
	margin-bottom:13px;
	text-indent:0px;
}
p.ParaOverride-18 {
	text-indent:18px;
}
p.ParaOverride-19 {
	margin-top:22px;
}
p.ParaOverride-20 {
	orphans:2;
	widows:2;
}
p.ParaOverride-21 {
	margin-bottom:13px;
	orphans:2;
	widows:2;
}
p.ParaOverride-22 {
	margin-top:41px;
}
p.ParaOverride-23 {
	text-align:center;
}
p.ParaOverride-24 {
	margin-bottom:2px;
	margin-top:16px;
}
p.ParaOverride-25 {
	margin-bottom:2px;
}
p.ParaOverride-26 {
	text-align:right;
}
span.CharOverride-1 {
	font-family:Times;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#006db6;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-size:0.909em;
}
span.CharOverride-5 {
	font-family:Times;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	font-family:"ITC Franklin Gothic Std Heavy";
	font-style:oblique;
	font-weight:normal;
}
span.CharOverride-7 {
	font-family:Times;
}
span.CharOverride-8 {
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-9 {
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family:Times;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-family:Times;
	font-size:0.727em;
	font-style:italic;
	font-weight:normal;
}
span._idGenCharOverride-1 {
	font-family:Times;
}
span._idGenCharOverride-2 {
	font-size:1em;
}
#_idContainer756 {
	display:inline-block;
	height:21px;
	position:relative;
	width:428px;
}
#_idContainer757 {
	display:inline-block;
	height:69px;
	width:81px;
}
#_idContainer758 {
	display:inline-block;
	height:18px;
	position:relative;
	width:58px;
}
#_idContainer759 {
	display:inline-block;
	height:14px;
	position:relative;
	width:58px;
}
#_idContainer761, #_idContainer782, #_idContainer786, #_idContainer790, #_idContainer794, #_idContainer798, #_idContainer802, #_idContainer820 {
	height:33.51px;
	left:0px;
	position:relative;
	top:0px;
	width:5.95px;
	z-index:1;
}
#_idContainer762, #_idContainer783, #_idContainer787, #_idContainer791, #_idContainer795, #_idContainer799, #_idContainer803, #_idContainer821 {
	height:33.46px;
	left:6px;
	position:relative;
	top:-34px;
	width:27.26px;
	z-index:0;
}
#_idContainer763, #_idContainer784, #_idContainer788, #_idContainer792, #_idContainer796, #_idContainer800, #_idContainer804, #_idContainer822 {
	height:33.51px;
	left:33px;
	position:relative;
	top:-67px;
	width:5.95px;
	z-index:2;
}
#_idContainer764, #_idContainer785, #_idContainer789, #_idContainer793, #_idContainer797, #_idContainer801, #_idContainer805, #_idContainer823 {
	display:inline-block;
	height:34px;
	position:relative;
	width:39px;
}
#_idContainer766, #_idContainer774 {
	height:7.94px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:0px;
	width:414.00px;
	z-index:1;
}
#_idContainer768 {
	height:283.94px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:7px;
	width:413.00px;
	z-index:0;
}
#_idContainer769, #_idContainer777 {
	height:7.82px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:6px;
	width:414.00px;
	z-index:0;
}
#_idContainer770, #_idContainer778 {
	height:5.60px;
	left:9px;
	position:relative;
	top:-8px;
	width:6.13px;
	z-index:1;
}
#_idContainer771 {
	height:13.42px;
	left:0px;
	position:relative;
	top:7px;
	width:414.00px;
	z-index:2;
}
#_idContainer772 {
	display:inline-block;
	height:313px;
	position:relative;
	width:414px;
}
#_idContainer773 {
	display:inline-block;
	height:6px;
	position:relative;
	width:40px;
}
#_idContainer776 {
	height:206.18px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:7px;
	width:413.00px;
	z-index:0;
}
#_idContainer779 {
	height:13.42px;
	left:0px;
	position:relative;
	top:6px;
	width:414.00px;
	z-index:2;
}
#_idContainer780 {
	display:inline-block;
	height:235px;
	position:relative;
	width:414px;
}
#_idContainer781 {
	display:inline-block;
	height:135px;
	position:relative;
	width:414px;
}
#_idContainer809 {
	height:7.05px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:3px;
	width:44.62px;
	z-index:0;
}
#_idContainer810 {
	height:10.00px;
	left:22px;
	position:relative;
	top:-7px;
	width:7.60px;
	z-index:1;
}
#_idContainer811 {
	display:inline-block;
	height:10px;
	position:relative;
	width:45px;
}
#_idContainer815 {
	height:246.62px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:0px;
	width:414.00px;
	z-index:0;
}
#_idContainer816 {
	height:12.26px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:-4px;
	width:74.58px;
	z-index:1;
}
#_idContainer817 {
	display:inline-block;
	height:255px;
	position:relative;
	width:414px;
}
#_idContainer824 {
	display:inline-block;
	height:428px;
	width:413px;
}
#_idContainer825 {
	display:inline-block;
	height:18px;
	position:relative;
	width:68px;
}
#_idContainer826 {
	display:inline-block;
	height:20px;
	position:relative;
	width:68px;
}
#_idContainer828 {
	display:inline-block;
	height:9px;
	position:relative;
	width:20px;
}
#_idContainer829 {
	display:inline-block;
	height:482px;
	width:413px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:271px;
	width:396px;
}
img._idGenObjectAttribute-3 {
	height:194px;
	width:360px;
}
div._idGenObjectStyleOverride-1 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	border-color:#006db6;
}
div._idGenObjectStyleOverride-4 {
	border-color:#006db6;
	border-width:1px;
}
div._idGenObjectLayout-1 {
	margin:3px auto 3px auto;
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:center;
}
div._idGenWritingDirection-1 {
	-epub-writing-mode:horizontal-tb;
}
