table.AHIMA {
	border-collapse:collapse;
	border-color:#006db6;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.AHIMA {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
tr.AHIMA {
	page-break-after:auto;
	page-break-before:auto;
}
td.AHIMA_Cell {
	border-bottom-color:#006db6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:top;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.111;
	margin-bottom:13px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic (T1) Heavy Oblique", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.083;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:18px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.B-num-list-flush {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:32px;
	margin-right:12px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
	text-transform:none;
	widows:1;
}
p.B-text-flush {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.B-title {
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.Bull-list-flush {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:7px;
	margin-left:33px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bull-list-ind {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	margin-bottom:7px;
	margin-left:48px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.CG_Txt {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:84px;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.CG_Txt_sub {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:98px;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Chap-num {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Chap-title {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:2em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.083;
	margin-bottom:86px;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Ex {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:13px;
	margin-left:18px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Fig-leg {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.IL_first {
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:18px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Ref-title {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Refs {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Review-Exe {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:14px;
	margin-left:18px;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Review-Exe-NL {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.444;
	margin-bottom:4px;
	margin-left:43px;
	margin-right:12px;
	margin-top:22px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.Review-Exe-hd {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:10px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:12px;
	text-transform:none;
	widows:1;
}
p.Text {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:1;
}
p.Text-flush {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.XM_IL {
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:131px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.XM_first {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:131px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-71px;
	text-transform:none;
	widows:1;
}
p.tabbody {
	color:#000000;
	font-family:Times, serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.BL {
	color:#006db6;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
}
span.Italic {
	font-style:italic;
	font-weight:normal;
}
span.NL-Color_Check {
	color:#006db6;
	font-style:normal;
	font-weight:normal;
}
span.Normal {
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.Review-NL {
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:500;
}
table.TableOverride-1 {
	border-collapse:collapse;
	margin-bottom:6px;
	margin-top:12px;
}
td.CellOverride-1 {
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.CellOverride-2 {
	border-bottom-width:0px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.CellOverride-3 {
	border-bottom-width:0px;
	border-top-width:0px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.CellOverride-4 {
	border-top-width:0px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
p.ParaOverride-1 {
	margin-bottom:53px;
}
p.ParaOverride-2 {
	margin-top:0px;
}
li.ParaOverride-3 {
	margin-bottom:0px;
	margin-top:13px;
	text-indent:0px;
}
p.ParaOverride-4 {
	text-indent:33px;
}
li.ParaOverride-5, p.ParaOverride-5 {
	margin-top:7px;
	text-indent:0px;
}
p.ParaOverride-6 {
	margin-bottom:7px;
}
p.ParaOverride-7 {
	-epub-hyphens:none;
	margin-bottom:6px;
}
p.ParaOverride-8 {
	-epub-hyphens:none;
}
p.ParaOverride-9 {
	margin-left:84px;
}
p.ParaOverride-10 {
	margin-top:7px;
}
p.ParaOverride-11 {
	margin-bottom:13px;
}
p.ParaOverride-12 {
	margin-bottom:7px;
	margin-top:0px;
}
p.ParaOverride-13 {
	font-size:0.909em;
	margin-bottom:7px;
	margin-left:77px;
	margin-top:6px;
}
li.ParaOverride-14 {
	margin-left:54px;
	margin-top:10px;
	text-indent:0px;
}
p.ParaOverride-15 {
	font-size:0.909em;
	margin-left:77px;
	margin-top:5px;
}
p.ParaOverride-16 {
	font-size:0.909em;
	margin-bottom:7px;
	margin-left:77px;
	margin-top:0px;
}
li.ParaOverride-17 {
	margin-left:54px;
	text-indent:0px;
}
p.ParaOverride-18 {
	font-size:0.909em;
	margin-bottom:7px;
	margin-left:77px;
	margin-top:7px;
}
li.ParaOverride-19 {
	margin-bottom:0px;
	margin-left:54px;
	text-indent:0px;
}
p.ParaOverride-20 {
	margin-top:16px;
}
p.ParaOverride-21 {
	margin-bottom:5px;
	margin-top:6px;
}
p.ParaOverride-22 {
	margin-bottom:3px;
}
p.ParaOverride-23 {
	margin-bottom:13px;
	margin-top:7px;
}
p.ParaOverride-24 {
	margin-top:15px;
}
p.ParaOverride-25 {
	margin-top:24px;
}
p.ParaOverride-26 {
	text-indent:0px;
}
p.ParaOverride-27 {
	margin-top:21px;
}
p.ParaOverride-28 {
	margin-top:17px;
}
p.ParaOverride-29 {
	margin-top:32px;
}
p.ParaOverride-30 {
	margin-top:46px;
}
p.ParaOverride-31 {
	margin-top:29px;
}
p.ParaOverride-32 {
	margin-top:20px;
}
p.ParaOverride-33 {
	margin-bottom:7px;
	margin-top:7px;
}
p.ParaOverride-34 {
	margin-top:23px;
}
li.ParaOverride-35 {
	margin-top:13px;
	text-indent:0px;
}
li.ParaOverride-36 {
	margin-bottom:13px;
	text-indent:0px;
}
p.ParaOverride-37 {
	text-indent:18px;
}
p.ParaOverride-38 {
	margin-top:10px;
}
p.ParaOverride-39 {
	margin-top:0px;
	text-indent:0px;
}
p.ParaOverride-40 {
	margin-bottom:10px;
	margin-top:7px;
	text-indent:0px;
}
p.ParaOverride-41 {
	margin-bottom:0px;
}
p.ParaOverride-42 {
	margin-bottom:0px;
	margin-top:0px;
}
p.ParaOverride-43 {
	margin-bottom:6px;
	margin-top:0px;
}
p.ParaOverride-44 {
	margin-top:14px;
}
p.ParaOverride-45 {
	margin-top:13px;
}
p.ParaOverride-46 {
	font-size:1em;
	list-style-type:none;
	margin-left:15px;
}
li.ParaOverride-47 {
	margin-top:10px;
	text-indent:0px;
}
p.ParaOverride-48 {
	text-indent:-25px;
}
p.ParaOverride-49 {
	margin-left:12px;
	text-indent:0px;
}
p.ParaOverride-50 {
	text-align:right;
}
span.CharOverride-1 {
	font-family:Times;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-family:Times;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:"ITC Franklin Gothic Std Med";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:"ITC Franklin Gothic Std Book";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-5 {
	font-family:"ITC Franklin Gothic Std Med";
}
span.CharOverride-6 {
	font-family:Times;
}
span.CharOverride-7 {
	font-family:"CommercialPi BT";
	font-size:0.545em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-size:1em;
}
span.CharOverride-9 {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	-epub-text-combine:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-11 {
	font-size:1.091em;
}
span.CharOverride-12 {
	font-family:Times;
	font-size:1.091em;
}
span.CharOverride-13 {
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.917em;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-15 {
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-17 {
	font-family:"ITC Franklin Gothic Std Heavy";
	font-style:italic;
	font-weight:normal;
}
span._idGenCharOverride-1 {
	font-family:"ITC Franklin Gothic Std Med";
}
span._idGenCharOverride-2 {
	font-family:Times;
}
span._idGenCharOverride-3 {
	font-size:1em;
}
#_idContainer2446 {
	display:inline-block;
	height:38px;
	position:relative;
	width:77px;
}
#_idContainer2447, #_idContainer2451, #_idContainer2455, #_idContainer2459, #_idContainer2463, #_idContainer2467, #_idContainer2471, #_idContainer2475, #_idContainer2479, #_idContainer2483, #_idContainer2487, #_idContainer2491, #_idContainer2495, #_idContainer2499, #_idContainer2503, #_idContainer2507, #_idContainer2511, #_idContainer2515, #_idContainer2519, #_idContainer2523, #_idContainer2527, #_idContainer2531, #_idContainer2535, #_idContainer2539, #_idContainer2543, #_idContainer2547, #_idContainer2551, #_idContainer2555, #_idContainer2559, #_idContainer2563, #_idContainer2567, #_idContainer2571, #_idContainer2575, #_idContainer2579, #_idContainer2583, #_idContainer2587, #_idContainer2591, #_idContainer2595, #_idContainer2599, #_idContainer2603, #_idContainer2607, #_idContainer2611, #_idContainer2615, #_idContainer2619, #_idContainer2623, #_idContainer2627, #_idContainer2631, #_idContainer2635, #_idContainer2639, #_idContainer2643, #_idContainer2647, #_idContainer2651, #_idContainer2655, #_idContainer2659, #_idContainer2663, #_idContainer2667, #_idContainer2671, #_idContainer2675, #_idContainer2679, #_idContainer2683, #_idContainer2687, #_idContainer2695, #_idContainer2699, #_idContainer2703, #_idContainer2707, #_idContainer2711, #_idContainer2715, #_idContainer2719, #_idContainer2723, #_idContainer2727, #_idContainer2731, #_idContainer2735, #_idContainer2782 {
	height:33.51px;
	left:0px;
	position:relative;
	top:0px;
	width:5.95px;
	z-index:1;
}
#_idContainer2448, #_idContainer2452, #_idContainer2460, #_idContainer2464, #_idContainer2468, #_idContainer2472, #_idContainer2476, #_idContainer2480, #_idContainer2484, #_idContainer2488, #_idContainer2492, #_idContainer2496, #_idContainer2500, #_idContainer2504, #_idContainer2508, #_idContainer2512, #_idContainer2516, #_idContainer2520, #_idContainer2524, #_idContainer2528, #_idContainer2532, #_idContainer2536, #_idContainer2540, #_idContainer2544, #_idContainer2548, #_idContainer2552, #_idContainer2556, #_idContainer2560, #_idContainer2564, #_idContainer2568, #_idContainer2572, #_idContainer2576, #_idContainer2580, #_idContainer2584, #_idContainer2588, #_idContainer2592, #_idContainer2596, #_idContainer2600, #_idContainer2604, #_idContainer2608, #_idContainer2612, #_idContainer2616, #_idContainer2620, #_idContainer2624, #_idContainer2628, #_idContainer2632, #_idContainer2636, #_idContainer2640, #_idContainer2644, #_idContainer2648, #_idContainer2652, #_idContainer2656, #_idContainer2660, #_idContainer2664, #_idContainer2668, #_idContainer2672, #_idContainer2676, #_idContainer2680, #_idContainer2684, #_idContainer2688, #_idContainer2696, #_idContainer2700, #_idContainer2704, #_idContainer2708, #_idContainer2712, #_idContainer2716, #_idContainer2720, #_idContainer2724, #_idContainer2728, #_idContainer2732, #_idContainer2736, #_idContainer2783 {
	height:33.72px;
	left:6px;
	position:relative;
	top:-34px;
	width:28.01px;
	z-index:0;
}
#_idContainer2449, #_idContainer2453, #_idContainer2457, #_idContainer2461, #_idContainer2465, #_idContainer2469, #_idContainer2473, #_idContainer2477, #_idContainer2481, #_idContainer2485, #_idContainer2489, #_idContainer2493, #_idContainer2497, #_idContainer2501, #_idContainer2505, #_idContainer2509, #_idContainer2513, #_idContainer2517, #_idContainer2521, #_idContainer2525, #_idContainer2529, #_idContainer2533, #_idContainer2537, #_idContainer2541, #_idContainer2545, #_idContainer2549, #_idContainer2553, #_idContainer2557, #_idContainer2561, #_idContainer2565, #_idContainer2569, #_idContainer2573, #_idContainer2577, #_idContainer2581, #_idContainer2585, #_idContainer2589, #_idContainer2593, #_idContainer2597, #_idContainer2601, #_idContainer2605, #_idContainer2609, #_idContainer2613, #_idContainer2617, #_idContainer2621, #_idContainer2625, #_idContainer2629, #_idContainer2633, #_idContainer2637, #_idContainer2641, #_idContainer2645, #_idContainer2649, #_idContainer2653, #_idContainer2657, #_idContainer2661, #_idContainer2665, #_idContainer2669, #_idContainer2673, #_idContainer2677, #_idContainer2681, #_idContainer2685, #_idContainer2689, #_idContainer2697, #_idContainer2701, #_idContainer2705, #_idContainer2709, #_idContainer2713, #_idContainer2717, #_idContainer2721, #_idContainer2725, #_idContainer2729, #_idContainer2733, #_idContainer2737, #_idContainer2784 {
	height:33.51px;
	left:33px;
	position:relative;
	top:-67px;
	width:5.95px;
	z-index:2;
}
#_idContainer2450, #_idContainer2454, #_idContainer2458, #_idContainer2462, #_idContainer2466, #_idContainer2470, #_idContainer2474, #_idContainer2478, #_idContainer2482, #_idContainer2486, #_idContainer2490, #_idContainer2494, #_idContainer2498, #_idContainer2502, #_idContainer2506, #_idContainer2510, #_idContainer2514, #_idContainer2518, #_idContainer2522, #_idContainer2526, #_idContainer2530, #_idContainer2534, #_idContainer2538, #_idContainer2542, #_idContainer2546, #_idContainer2550, #_idContainer2554, #_idContainer2558, #_idContainer2562, #_idContainer2566, #_idContainer2570, #_idContainer2574, #_idContainer2578, #_idContainer2582, #_idContainer2586, #_idContainer2590, #_idContainer2594, #_idContainer2598, #_idContainer2602, #_idContainer2606, #_idContainer2610, #_idContainer2614, #_idContainer2618, #_idContainer2622, #_idContainer2626, #_idContainer2630, #_idContainer2634, #_idContainer2638, #_idContainer2642, #_idContainer2646, #_idContainer2650, #_idContainer2654, #_idContainer2658, #_idContainer2662, #_idContainer2666, #_idContainer2670, #_idContainer2674, #_idContainer2678, #_idContainer2682, #_idContainer2686, #_idContainer2690, #_idContainer2698, #_idContainer2702, #_idContainer2706, #_idContainer2710, #_idContainer2714, #_idContainer2718, #_idContainer2722, #_idContainer2726, #_idContainer2730, #_idContainer2734, #_idContainer2738, #_idContainer2785 {
	display:inline-block;
	height:34px;
	position:relative;
	width:39px;
}
#_idContainer2456 {
	height:33.46px;
	left:6px;
	position:relative;
	top:-34px;
	width:27.26px;
	z-index:0;
}
#_idContainer2691, #_idContainer2693 {
	height:34px;
	position:relative;
	width:6px;
}
#_idContainer2692 {
	height:34px;
	width:28px;
}
#_idContainer2740 {
	display:inline-block;
	height:20px;
	position:relative;
	width:26px;
}
#_idContainer2741 {
	display:inline-block;
	height:123px;
	position:relative;
	width:77px;
}
#_idContainer2742 {
	display:inline-block;
	height:69px;
	width:81px;
}
#_idContainer2743 {
	height:15.46px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:9px;
	width:74.51px;
	z-index:0;
}
#_idContainer2744 {
	height:18.00px;
	left:6px;
	position:relative;
	top:-15px;
	width:4.33px;
	z-index:1;
}
#_idContainer2745 {
	display:inline-block;
	height:24px;
	position:relative;
	width:75px;
}
#_idContainer2746 {
	display:inline-block;
	height:22px;
	position:relative;
	width:442px;
}
#_idContainer2748 {
	display:inline-block;
	height:0px;
	position:relative;
	width:9px;
}
#_idContainer2749 {
	display:inline-block;
	height:18px;
	position:relative;
	width:166px;
}
#_idContainer2750 {
	display:inline-block;
	height:27px;
	position:relative;
	width:419px;
}
#_idContainer2752 {
	display:inline-block;
	height:34px;
	position:relative;
	width:419px;
}
#_idContainer2754, #_idContainer2762, #_idContainer2766, #_idContainer2770, #_idContainer2778 {
	display:inline-block;
	height:25px;
	position:relative;
	width:419px;
}
#_idContainer2756 {
	display:inline-block;
	height:24px;
	position:relative;
	width:425px;
}
#_idContainer2758 {
	display:inline-block;
	height:35px;
	position:relative;
	width:461px;
}
#_idContainer2760 {
	display:inline-block;
	height:32px;
	position:relative;
	width:419px;
}
#_idContainer2764 {
	display:inline-block;
	height:42px;
	position:relative;
	width:419px;
}
#_idContainer2768 {
	display:inline-block;
	height:24px;
	position:relative;
	width:419px;
}
#_idContainer2772, #_idContainer2776 {
	display:inline-block;
	height:36px;
	position:relative;
	width:419px;
}
#_idContainer2774 {
	display:inline-block;
	height:44px;
	position:relative;
	width:419px;
}
#_idContainer2781 {
	display:inline-block;
	height:145px;
	position:relative;
	width:414px;
}
#_idContainer2786 {
	display:inline-block;
	height:275px;
	position:relative;
	width:413px;
}
#_idContainer2788 {
	display:inline-block;
	height:626px;
	width:413px;
}
#_idContainer2789, #_idContainer2795 {
	display:inline-block;
	height:22px;
	position:relative;
	width:89px;
}
#_idContainer2790 {
	height:7.40px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:3px;
	width:148.75px;
	z-index:0;
}
#_idContainer2791 {
	height:10.56px;
	left:109px;
	position:relative;
	top:-7px;
	width:5.56px;
	z-index:1;
}
#_idContainer2792 {
	display:inline-block;
	height:11px;
	position:relative;
	width:149px;
}
#_idContainer2794 {
	display:inline-block;
	height:332px;
	position:relative;
	width:413px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	border-color:#006db6;
	border-width:1px;
}
div._idGenObjectLayout-1 {
	margin:3px auto 3px auto;
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:center;
}
div._idGenWritingDirection-1 {
	-epub-writing-mode:horizontal-tb;
}
