p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.111;
	margin-bottom:13px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic (T1) Heavy Oblique", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.083;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:18px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.B-num-list-flush {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:32px;
	margin-right:12px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.B-num-list-flush-2dig {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:32px;
	margin-right:12px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.B-num-list-flush-top {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:32px;
	margin-right:12px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.B-text-flush {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.B-title {
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.Bull-list-flush {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:7px;
	margin-left:33px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.Bull-list-flush-top {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:7px;
	margin-left:33px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.CG_Txt {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:84px;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Chap-num {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Chap-title {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:2em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.083;
	margin-bottom:86px;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Ex {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:13px;
	margin-left:18px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Fig-source {
	color:#000000;
	font-family:Times, serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Figure-caption {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Keyterm_text {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.NL_Last {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:13px;
	margin-left:43px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.NL_first {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:7px;
	margin-left:43px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.Refs {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Refs-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Review-Exe-2digit {
	-epub-hyphens:none;
	-epub-text-align-last:left;
	color:#ffffff;
	font-family:"Minion Pro Heavy", sans-serif;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:7px;
	margin-left:43px;
	margin-right:12px;
	margin-top:22px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-25px;
	text-transform:none;
	widows:1;
}
p.Review-Exe-NL {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.444;
	margin-bottom:4px;
	margin-left:43px;
	margin-right:12px;
	margin-top:22px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.Text {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:1;
}
p.Text-flush {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.XMS_first {
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:133px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-64px;
	text-transform:none;
	widows:1;
}
p.XM_IL {
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:128px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.XM_first {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:128px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-67px;
	text-transform:none;
	widows:1;
}
p.tabbody {
	color:#000000;
	font-family:Times, serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Italic {
	font-style:italic;
	font-weight:normal;
}
span.Medium {
	font-style:normal;
	font-weight:normal;
}
span.Review-NL {
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:500;
}
table.TableOverride-1 {
	border-collapse:collapse;
}
td.CellOverride-1 {
	border-bottom-color:#006db6;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
p.ParaOverride-1 {
	margin-bottom:79px;
}
p.ParaOverride-2 {
	margin-top:0px;
}
p.ParaOverride-3 {
	margin-left:11px;
	text-align:left;
	text-indent:-11px;
}
p.ParaOverride-4 {
	margin-bottom:10px;
	margin-top:10px;
}
p.ParaOverride-5 {
	-epub-hyphens:none;
}
p.ParaOverride-6 {
	margin-left:60px;
	text-indent:0px;
}
p.ParaOverride-7 {
	margin-left:133px;
}
p.ParaOverride-8 {
	margin-bottom:16px;
	margin-left:133px;
}
p.ParaOverride-9 {
	margin-top:35px;
}
p.ParaOverride-10 {
	margin-bottom:15px;
	margin-top:15px;
}
p.ParaOverride-11 {
	margin-bottom:13px;
}
p.ParaOverride-12 {
	margin-top:20px;
}
p.ParaOverride-13 {
	margin-top:15px;
}
li.ParaOverride-14 {
	-epub-hyphens:none;
	text-indent:0px;
}
p.ParaOverride-15 {
	margin-top:8px;
}
li.ParaOverride-16 {
	-epub-hyphens:none;
	margin-bottom:13px;
	text-indent:0px;
}
p.ParaOverride-17 {
	margin-bottom:0px;
}
p.ParaOverride-18 {
	margin-bottom:7px;
	margin-top:7px;
}
p.ParaOverride-19 {
	margin-bottom:7px;
	margin-top:0px;
}
li.ParaOverride-20 {
	margin-bottom:0px;
	text-indent:0px;
}
p.ParaOverride-21 {
	margin-bottom:0px;
	margin-left:12px;
	margin-right:0px;
	margin-top:0px;
	text-indent:0px;
}
p.ParaOverride-22 {
	margin-bottom:10px;
	margin-left:12px;
	margin-right:0px;
	margin-top:0px;
	text-indent:0px;
}
p.ParaOverride-23 {
	margin-bottom:14px;
	margin-left:18px;
}
p.ParaOverride-24 {
	text-indent:-25px;
}
p.ParaOverride-25 {
	margin-bottom:14px;
	margin-left:12px;
	margin-right:0px;
	margin-top:0px;
	text-indent:0px;
}
p.ParaOverride-26 {
	margin-top:0px;
	text-indent:-25px;
}
p.ParaOverride-27 {
	text-align:center;
}
p.ParaOverride-28 {
	text-align:right;
}
span.CharOverride-1 {
	font-family:Times;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-family:Times;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:"ITC Franklin Gothic Std Med";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-size:1em;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy";
	font-size:1em;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-7 {
	font-family:"ITC Franklin Gothic Std Med";
}
span.CharOverride-8 {
	-epub-text-combine:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-9 {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family:Times;
}
span.CharOverride-11 {
	font-family:Times;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#000000;
}
p._idGenParaOverride-1 {
	font-size:0.909em;
	margin-left:95px;
}
span._idGenCharOverride-1 {
	font-size:1em;
}
span._idGenCharOverride-2 {
	font-family:"ITC Franklin Gothic Std Med";
}
span._idGenCharOverride-3 {
	font-family:Times;
}
#_idContainer1854, #_idContainer1858, #_idContainer1862, #_idContainer1866, #_idContainer1871, #_idContainer1889, #_idContainer1899, #_idContainer1903, #_idContainer1907 {
	height:33.51px;
	left:0px;
	position:relative;
	top:0px;
	width:5.95px;
	z-index:1;
}
#_idContainer1855, #_idContainer1859, #_idContainer1863, #_idContainer1867, #_idContainer1872, #_idContainer1890, #_idContainer1900, #_idContainer1904, #_idContainer1908 {
	height:33.72px;
	left:6px;
	position:relative;
	top:-34px;
	width:28.01px;
	z-index:0;
}
#_idContainer1856, #_idContainer1860, #_idContainer1864, #_idContainer1868, #_idContainer1873, #_idContainer1891, #_idContainer1901, #_idContainer1905, #_idContainer1909 {
	height:33.51px;
	left:33px;
	position:relative;
	top:-67px;
	width:5.95px;
	z-index:2;
}
#_idContainer1857, #_idContainer1861, #_idContainer1865, #_idContainer1869, #_idContainer1874, #_idContainer1892, #_idContainer1902, #_idContainer1906, #_idContainer1910 {
	display:inline-block;
	height:34px;
	position:relative;
	width:39px;
}
#_idContainer1870 {
	display:inline-block;
	height:69px;
	width:81px;
}
#_idContainer1875 {
	height:7.94px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:0px;
	width:237.78px;
	z-index:1;
}
#_idContainer1877 {
	height:128.88px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:8px;
	width:413.00px;
	z-index:0;
}
#_idContainer1878 {
	height:6.26px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:14px;
	width:61.29px;
	z-index:3;
}
#_idContainer1879 {
	height:5.60px;
	left:12px;
	position:relative;
	top:-140px;
	width:6.13px;
	z-index:2;
}
#_idContainer1880, #_idContainer1887 {
	height:5.60px;
	left:13px;
	position:relative;
	top:-3px;
	width:6.13px;
	z-index:4;
}
#_idContainer1881 {
	display:inline-block;
	height:158px;
	position:relative;
	width:414px;
}
#_idContainer1882 {
	height:7.94px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:0px;
	width:155.26px;
	z-index:1;
}
#_idContainer1884 {
	height:154.82px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:9px;
	width:413.00px;
	z-index:0;
}
#_idContainer1885 {
	height:6.26px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:15px;
	width:65.29px;
	z-index:3;
}
#_idContainer1886 {
	height:5.60px;
	left:12px;
	position:relative;
	top:-159px;
	width:6.13px;
	z-index:2;
}
#_idContainer1888 {
	display:inline-block;
	height:185px;
	position:relative;
	width:414px;
}
#_idContainer1897, #_idContainer1898 {
	display:inline-block;
	height:6px;
	position:relative;
	width:6px;
}
#_idContainer1911 {
	display:inline-block;
	height:141px;
	width:413px;
}
#_idContainer1912 {
	display:inline-block;
	height:610px;
	width:413px;
}
#_idContainer1913 {
	height:7.40px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:3px;
	width:148.75px;
	z-index:0;
}
#_idContainer1914 {
	height:10.56px;
	left:109px;
	position:relative;
	top:-7px;
	width:5.56px;
	z-index:1;
}
#_idContainer1915 {
	display:inline-block;
	height:11px;
	position:relative;
	width:149px;
}
#_idContainer1916 {
	display:inline-block;
	height:19px;
	position:relative;
	width:42px;
}
#_idContainer1917 {
	display:inline-block;
	height:216px;
	width:413px;
}
#_idContainer1918 {
	display:inline-block;
	height:22px;
	position:relative;
	width:18px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:116px;
	width:238px;
}
img._idGenObjectAttribute-3 {
	height:141px;
	width:128px;
}
img._idGenObjectAttribute-4 {
	height:156px;
	width:154px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-color:#006db6;
}
div._idGenObjectStyleOverride-3 {
	border-color:#006db6;
	border-width:1px;
}
div._idGenObjectLayout-1 {
	margin:3px auto 3px auto;
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:center;
}
div._idGenWritingDirection-1 {
	-epub-writing-mode:horizontal-tb;
}
