p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.111;
	margin-bottom:13px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic (T1) Heavy Oblique", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.083;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:18px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._-hd {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.B-num-list-flush {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:32px;
	margin-right:12px;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
	text-transform:none;
	widows:1;
}
p.B-text-flush {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.B-title {
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.BL-ind {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	margin-bottom:7px;
	margin-left:51px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.Bull-list-flush {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:7px;
	margin-left:33px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.Bull-list-ind {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:7px;
	margin-left:48px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.CG_BL {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:133px;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.CG_Txt {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:84px;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Chap-num {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Chap-title {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:2em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.083;
	margin-bottom:86px;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Ex {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:13px;
	margin-left:18px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Fig-leg {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.IL-sub {
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:24px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.IL_Mid {
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:18px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.IL_Mid-1 {
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:40px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.IL_Mid-2 {
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:62px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.IL_Mid-3 {
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:84px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.IL_Mid-4 {
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:106px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.IL_Mid-5 {
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:128px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.IL_first {
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:18px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Num-list-top {
	-epub-hyphens:none;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:7px;
	margin-left:43px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.Ref-title {
	-epub-hyphens:none;
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:19px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Refs {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Review-Exe {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:14px;
	margin-left:18px;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Review-Exe-NL {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.444;
	margin-bottom:4px;
	margin-left:43px;
	margin-right:12px;
	margin-top:22px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-19px;
	text-transform:none;
	widows:1;
}
p.Review-Exe-hd-2line {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"ITC Franklin Gothic Std Heavy", sans-serif;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.125;
	margin-bottom:10px;
	margin-left:12px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-col-hd {
	color:#000000;
	font-family:Times, serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-col-hd_Cntr {
	color:#000000;
	font-family:Times, serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-sou {
	color:#000000;
	font-family:Times, serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Text {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:1;
}
p.Text-flush {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.XMS_IL {
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:133px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-15px;
	text-transform:none;
	widows:1;
}
p.XMS_first {
	color:#000000;
	font-family:Times, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:133px;
	margin-right:0;
	margin-top:13px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-72px;
	text-transform:none;
	widows:1;
}
span.BL {
	color:#006db6;
	font-family:Times, serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
}
span.Italic {
	font-style:italic;
	font-weight:normal;
}
span.NL-Color_Check {
	color:#006db6;
	font-style:normal;
	font-weight:normal;
}
span.Normal {
	color:#000000;
	font-family:"Times (T1) Roman ", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.Review-NL {
	color:#006db6;
	font-family:"ITC Franklin Gothic Std Med", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:500;
}
table.TableOverride-1 {
	border-collapse:collapse;
}
td.CellOverride-1 {
	border-bottom-color:#006db6;
	border-left-color:#006db6;
	border-right-color:#006db6;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.CellOverride-2 {
	border-bottom-color:#006db6;
	border-left-color:#006db6;
	border-right-color:#006db6;
	border-top-color:#006db6;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.CellOverride-3 {
	border-left-color:#006db6;
	border-right-color:#006db6;
	border-top-color:#006db6;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.CellOverride-4 {
	border-bottom-width:0px;
	border-left-width:0px;
	padding-bottom:0px;
	padding-left:0px;
}
td.CellOverride-5 {
	padding-top:10px;
}
p.ParaOverride-1 {
	margin-bottom:62px;
	margin-top:16px;
}
p.ParaOverride-2 {
	margin-top:17px;
}
li.ParaOverride-3, p.ParaOverride-3 {
	margin-top:13px;
	text-indent:0px;
}
p.ParaOverride-4 {
	margin-left:11px;
	text-indent:-11px;
}
p.ParaOverride-5 {
	margin-bottom:7px;
}
p.ParaOverride-6 {
	margin-bottom:12px;
}
p.ParaOverride-7 {
	margin-bottom:13px;
}
p.ParaOverride-8 {
	-epub-hyphens:none;
}
li.ParaOverride-9 {
	margin-left:117px;
	text-indent:0px;
}
p.ParaOverride-10 {
	margin-top:15px;
}
p.ParaOverride-11 {
	margin-top:0px;
}
p.ParaOverride-12 {
	margin-left:51px;
}
p.ParaOverride-13 {
	margin-bottom:13px;
	margin-left:51px;
}
p.ParaOverride-14 {
	margin-left:40px;
}
p.ParaOverride-15 {
	margin-left:62px;
}
p.ParaOverride-16 {
	margin-left:84px;
}
p.ParaOverride-17 {
	margin-left:106px;
}
p.ParaOverride-18 {
	margin-left:40px;
	margin-top:6px;
}
p.ParaOverride-19 {
	margin-left:140px;
	text-indent:0px;
}
p.ParaOverride-20 {
	margin-left:152px;
	text-indent:0px;
}
p.ParaOverride-21 {
	margin-left:164px;
	text-indent:0px;
}
p.ParaOverride-22 {
	margin-left:176px;
	text-indent:0px;
}
p.ParaOverride-23 {
	margin-left:188px;
	text-indent:0px;
}
p.ParaOverride-24 {
	margin-bottom:13px;
	margin-left:200px;
	text-indent:0px;
}
p.ParaOverride-25 {
	margin-top:22px;
}
li.ParaOverride-26 {
	margin-bottom:13px;
	text-indent:0px;
}
p.ParaOverride-27 {
	margin-bottom:0px;
	text-align:left;
}
p.ParaOverride-28 {
	margin-top:21px;
}
p.ParaOverride-29 {
	margin-top:12px;
}
p.ParaOverride-30 {
	margin-top:23px;
}
p.ParaOverride-31 {
	margin-left:70px;
}
p.ParaOverride-32 {
	margin-left:59px;
}
p.ParaOverride-33 {
	margin-top:4px;
}
p.ParaOverride-34 {
	margin-bottom:12px;
	margin-left:70px;
}
p.ParaOverride-35 {
	margin-left:59px;
	margin-top:13px;
	text-indent:-41px;
}
p.ParaOverride-36 {
	margin-left:59px;
	margin-top:5px;
	text-indent:-41px;
}
p.ParaOverride-37 {
	margin-left:59px;
	text-indent:-41px;
}
p.ParaOverride-38 {
	margin-bottom:13px;
	margin-left:59px;
	text-indent:-41px;
}
p.ParaOverride-39 {
	margin-top:16px;
}
p.ParaOverride-40 {
	margin-left:128px;
	text-indent:-67px;
}
p.ParaOverride-41 {
	margin-bottom:0px;
}
p.ParaOverride-42 {
	margin-top:24px;
}
p.ParaOverride-43 {
	margin-top:13px;
	text-indent:43px;
}
p.ParaOverride-44 {
	text-indent:43px;
}
p.ParaOverride-45 {
	margin-top:5px;
	text-indent:43px;
}
p.ParaOverride-46 {
	-epub-hyphens:none;
	margin-left:128px;
	margin-top:15px;
	text-indent:-67px;
}
p.ParaOverride-47 {
	-epub-hyphens:none;
	margin-left:128px;
	text-indent:-67px;
}
p.ParaOverride-48 {
	-epub-hyphens:none;
	margin-left:128px;
	margin-top:16px;
	text-indent:-67px;
}
p.ParaOverride-49 {
	-epub-hyphens:none;
	margin-top:20px;
}
p.ParaOverride-50 {
	text-indent:0px;
}
p.ParaOverride-51 {
	margin-bottom:3px;
}
p.ParaOverride-52 {
	margin-left:132px;
	text-indent:0px;
}
p.ParaOverride-53 {
	margin-top:34px;
}
p.ParaOverride-54 {
	margin-left:105px;
	margin-top:5px;
	text-indent:-46px;
}
p.ParaOverride-55 {
	-epub-hyphens:none;
	margin-left:105px;
	margin-top:5px;
	text-indent:-46px;
}
p.ParaOverride-56 {
	margin-left:105px;
	margin-top:5px;
}
p.ParaOverride-57 {
	margin-left:59px;
	margin-top:7px;
	text-indent:-41px;
}
p.ParaOverride-58 {
	margin-bottom:13px;
	margin-left:59px;
	margin-top:5px;
	text-indent:-41px;
}
p.ParaOverride-59 {
	margin-top:25px;
}
p.ParaOverride-60 {
	margin-top:13px;
}
p.ParaOverride-61 {
	-epub-hyphens:none;
	text-indent:-73px;
}
p.ParaOverride-62 {
	-epub-hyphens:none;
	font-size:1em;
	list-style-position:outside;
	list-style-type:none;
	margin-left:15px;
	text-indent:-15px;
}
li.ParaOverride-63 {
	-epub-hyphens:none;
	text-indent:0px;
}
p.ParaOverride-64 {
	-epub-hyphens:none;
	margin-top:13px;
}
p.ParaOverride-65 {
	margin-left:51px;
	margin-top:13px;
	text-indent:-32px;
}
p.ParaOverride-66 {
	margin-left:51px;
	text-indent:-32px;
}
p.ParaOverride-67 {
	margin-left:64px;
	margin-top:13px;
	text-indent:-46px;
}
p.ParaOverride-68 {
	margin-left:64px;
	text-indent:-46px;
}
p.ParaOverride-69 {
	margin-top:19px;
}
p.ParaOverride-70 {
	margin-bottom:13px;
	margin-left:64px;
	text-indent:-46px;
}
p.ParaOverride-71 {
	margin-bottom:13px;
	margin-left:128px;
	text-indent:-67px;
}
p.ParaOverride-72 {
	margin-bottom:13px;
	margin-left:106px;
}
li.ParaOverride-73 {
	margin-left:55px;
	text-indent:0px;
}
li.ParaOverride-74 {
	margin-bottom:4px;
	margin-left:55px;
	text-indent:0px;
}
p.ParaOverride-75 {
	text-indent:24px;
}
p.ParaOverride-76 {
	margin-top:7px;
}
p.ParaOverride-77 {
	margin-left:128px;
	margin-top:6px;
	text-indent:0px;
}
p.ParaOverride-78 {
	margin-top:18px;
}
p.ParaOverride-79 {
	-epub-hyphens:none;
	font-size:0.909em;
	margin-left:100px;
}
p.ParaOverride-80 {
	margin-top:8px;
}
p.ParaOverride-81 {
	margin-top:10px;
}
li.ParaOverride-82 {
	margin-bottom:0px;
	text-indent:0px;
}
p.ParaOverride-83 {
	margin-top:14px;
}
p.ParaOverride-84 {
	margin-left:74px;
}
p.ParaOverride-85 {
	margin-bottom:6px;
	margin-left:84px;
}
p.ParaOverride-86 {
	margin-left:14px;
	text-indent:-13px;
}
p.ParaOverride-87 {
	margin-bottom:3px;
	margin-top:18px;
}
p.ParaOverride-88 {
	text-align:center;
}
p.ParaOverride-89 {
	-epub-hyphens:none;
	margin-left:14px;
	text-indent:-13px;
}
p.ParaOverride-90 {
	margin-left:128px;
	text-indent:0px;
}
li.ParaOverride-91 {
	margin-top:11px;
	text-indent:0px;
}
li.ParaOverride-92 {
	margin-bottom:11px;
	text-indent:0px;
}
p.ParaOverride-93 {
	margin-left:40px;
	margin-top:13px;
}
p.ParaOverride-94 {
	margin-bottom:13px;
	margin-left:40px;
}
p.ParaOverride-95 {
	margin-left:18px;
}
p.ParaOverride-96 {
	margin-left:40px;
	margin-top:12px;
}
p.ParaOverride-97 {
	margin-left:18px;
	text-indent:0px;
}
p.ParaOverride-98 {
	text-align:right;
}
span.CharOverride-1 {
	font-family:Times;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-family:Times;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:"ITC Franklin Gothic Std Med";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:"ITC Franklin Gothic Std Heavy";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	font-family:"ITC Franklin Gothic Std Book";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-6 {
	font-family:Times;
}
span.CharOverride-7 {
	font-family:"ITC Franklin Gothic Std Med";
}
span.CharOverride-8 {
	font-size:0.909em;
}
span.CharOverride-9 {
	font-size:58%;
	vertical-align:sub;
}
span.CharOverride-10 {
	font-family:"CommercialPi BT";
	font-size:0.545em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-size:1em;
}
span.CharOverride-12 {
	-epub-text-combine:none;
	color:#000000;
	font-family:Times, serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-13 {
	font-size:0.889em;
}
span.CharOverride-14 {
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-15 {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	-epub-text-combine:none;
	color:#000000;
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-17 {
	font-family:Times;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-18 {
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-20 {
	font-family:"ITC Franklin Gothic Std Book", sans-serif;
	font-size:0.75em;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-21 {
	font-family:Times, serif;
	font-size:0.727em;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-22 {
	font-family:"ITC Franklin Gothic Std Heavy";
	font-style:italic;
	font-weight:normal;
}
span._idGenCharOverride-1 {
	font-family:"ITC Franklin Gothic Std Med";
}
span._idGenCharOverride-2 {
	font-size:1em;
}
span._idGenCharOverride-3 {
	font-family:Times;
}
td._idGenCellOverride-1 {
	border-bottom-color:#006db6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-style:solid;
	border-top-width:1px;
}
td._idGenCellOverride-2 {
	background-color:#c9d7ec;
	border-bottom-color:#006db6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#006db6;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#006db6;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#006db6;
	border-top-style:solid;
	border-top-width:1px;
}
td._idGenCellOverride-3 {
	border-bottom-color:#006db6;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#006db6;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#006db6;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#006db6;
	border-top-style:solid;
	border-top-width:1px;
}
#_idContainer896 {
	display:inline-block;
	height:38px;
	position:relative;
	width:174px;
}
#_idContainer897, #_idContainer902, #_idContainer906, #_idContainer910, #_idContainer914, #_idContainer918, #_idContainer922, #_idContainer926, #_idContainer930, #_idContainer934, #_idContainer938, #_idContainer942, #_idContainer946, #_idContainer950, #_idContainer954, #_idContainer958, #_idContainer962, #_idContainer966, #_idContainer970, #_idContainer974, #_idContainer978, #_idContainer982, #_idContainer986, #_idContainer990, #_idContainer994, #_idContainer998, #_idContainer1002, #_idContainer1006, #_idContainer1010, #_idContainer1014, #_idContainer1018, #_idContainer1022, #_idContainer1026, #_idContainer1030, #_idContainer1034, #_idContainer1038, #_idContainer1042, #_idContainer1046, #_idContainer1050, #_idContainer1054 {
	height:33.51px;
	left:0px;
	position:relative;
	top:0px;
	width:5.95px;
	z-index:1;
}
#_idContainer898, #_idContainer903, #_idContainer907, #_idContainer911, #_idContainer915, #_idContainer919, #_idContainer923, #_idContainer927, #_idContainer931, #_idContainer935, #_idContainer939, #_idContainer943, #_idContainer947, #_idContainer951, #_idContainer955, #_idContainer959, #_idContainer963, #_idContainer967, #_idContainer971, #_idContainer975, #_idContainer979, #_idContainer983, #_idContainer987, #_idContainer991, #_idContainer995, #_idContainer999, #_idContainer1003, #_idContainer1007, #_idContainer1011, #_idContainer1015, #_idContainer1019, #_idContainer1023, #_idContainer1027, #_idContainer1031, #_idContainer1035, #_idContainer1039, #_idContainer1043, #_idContainer1047, #_idContainer1051, #_idContainer1055 {
	height:33.46px;
	left:6px;
	position:relative;
	top:-34px;
	width:27.26px;
	z-index:0;
}
#_idContainer899, #_idContainer904, #_idContainer908, #_idContainer912, #_idContainer916, #_idContainer920, #_idContainer924, #_idContainer928, #_idContainer932, #_idContainer936, #_idContainer940, #_idContainer944, #_idContainer948, #_idContainer952, #_idContainer956, #_idContainer960, #_idContainer964, #_idContainer968, #_idContainer972, #_idContainer976, #_idContainer980, #_idContainer984, #_idContainer988, #_idContainer992, #_idContainer996, #_idContainer1000, #_idContainer1004, #_idContainer1008, #_idContainer1012, #_idContainer1016, #_idContainer1020, #_idContainer1024, #_idContainer1028, #_idContainer1032, #_idContainer1036, #_idContainer1040, #_idContainer1044, #_idContainer1048, #_idContainer1052, #_idContainer1056 {
	height:33.51px;
	left:33px;
	position:relative;
	top:-67px;
	width:5.95px;
	z-index:2;
}
#_idContainer900, #_idContainer905, #_idContainer909, #_idContainer913, #_idContainer917, #_idContainer921, #_idContainer925, #_idContainer929, #_idContainer933, #_idContainer937, #_idContainer941, #_idContainer945, #_idContainer949, #_idContainer953, #_idContainer957, #_idContainer961, #_idContainer965, #_idContainer969, #_idContainer973, #_idContainer977, #_idContainer981, #_idContainer985, #_idContainer989, #_idContainer993, #_idContainer997, #_idContainer1001, #_idContainer1005, #_idContainer1009, #_idContainer1013, #_idContainer1017, #_idContainer1021, #_idContainer1025, #_idContainer1029, #_idContainer1033, #_idContainer1037, #_idContainer1041, #_idContainer1045, #_idContainer1049, #_idContainer1053, #_idContainer1057 {
	display:inline-block;
	height:34px;
	position:relative;
	width:39px;
}
#_idContainer901 {
	display:inline-block;
	height:69px;
	width:82px;
}
#_idContainer1059 {
	display:inline-block;
	height:21px;
	position:relative;
	width:26px;
}
#_idContainer1060 {
	display:inline-block;
	height:123px;
	position:relative;
	width:120px;
}
#_idContainer1061, #_idContainer1066 {
	display:inline-block;
	height:18px;
	position:relative;
	width:441px;
}
#_idContainer1062 {
	display:inline-block;
	height:21px;
	position:relative;
	width:42px;
}
#_idContainer1064 {
	display:inline-block;
	height:38px;
	position:relative;
	width:441px;
}
#_idContainer1068 {
	display:inline-block;
	height:29px;
	position:relative;
	width:441px;
}
#_idContainer1070 {
	display:inline-block;
	height:40px;
	position:relative;
	width:441px;
}
#_idContainer1072 {
	display:inline-block;
	height:45px;
	position:relative;
	width:441px;
}
#_idContainer1074 {
	display:inline-block;
	height:169px;
	position:relative;
	width:414px;
}
#_idContainer1075 {
	height:6.00px;
	left:15px;
	position:relative;
	top:4px;
	width:6.13px;
	z-index:1;
}
#_idContainer1076 {
	display:inline-block;
	height:10px;
	position:relative;
	width:414px;
}
#_idContainer1079, #_idContainer1089, #_idContainer1097 {
	height:5.60px;
	left:9px;
	position:relative;
	top:0px;
	width:6.13px;
	z-index:1;
}
#_idContainer1080, #_idContainer1090 {
	display:inline-block;
	height:13px;
	position:relative;
	width:414px;
}
#_idContainer1081 {
	height:15.10px;
	left:0px;
	position:relative;
	top:89px;
	width:436.50px;
	z-index:2;
}
#_idContainer1082 {
	display:inline-block;
	height:104px;
	position:relative;
	width:437px;
}
#_idContainer1085 {
	display:inline-block;
	height:13px;
	position:relative;
	width:18px;
}
#_idContainer1086 {
	display:inline-block;
	height:3px;
	position:relative;
	width:6px;
}
#_idContainer1091 {
	display:inline-block;
	height:3px;
	position:relative;
	width:3px;
}
#_idContainer1092 {
	display:inline-block;
	height:152px;
	position:relative;
	width:414px;
}
#_idContainer1093 {
	height:6.00px;
	left:12px;
	position:relative;
	top:8px;
	width:6.13px;
	z-index:1;
}
#_idContainer1094 {
	height:13.67px;
	left:0px;
	position:relative;
	top:0px;
	width:414.00px;
	z-index:1;
}
#_idContainer1096 {
	height:254.98px;
	left:0px;
	overflow:hidden;
	position:relative;
	top:0px;
	width:413.00px;
	z-index:0;
}
#_idContainer1098 {
	height:13.42px;
	left:0px;
	position:relative;
	top:0px;
	width:414.00px;
	z-index:2;
}
#_idContainer1099 {
	display:inline-block;
	height:283px;
	position:relative;
	width:414px;
}
#_idContainer1100 {
	display:inline-block;
	height:332px;
	width:413px;
}
#_idContainer1102 {
	display:inline-block;
	height:9px;
	position:relative;
	width:20px;
}
#_idContainer1104 {
	display:inline-block;
	height:18px;
	position:relative;
	width:37px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:247px;
	width:336px;
}
img._idGenObjectAttribute-3 {
	height:299px;
	width:324px;
}
img._idGenObjectAttribute-4 {
	height:242px;
	width:400px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	border-color:#006db6;
}
div._idGenObjectStyleOverride-4 {
	border-color:#006db6;
	border-width:1px;
}
div._idGenObjectLayout-1 {
	margin:3px auto 3px auto;
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:center;
}
div._idGenWritingDirection-1 {
	-epub-writing-mode:horizontal-tb;
}
