p.ParaOverride-1 {
  text-align: center;
}
p.ParaOverride-2 {
  -epub-hyphens: none;
}
p.ParaOverride-3 {
  -epub-hyphens: none;
  margin-top: 7px;
}
p.ParaOverride-4 {
  margin-top: 7px;
}
p.ParaOverride-5 {
  margin-top: 9px;
}
p.ParaOverride-6 {
  margin-top: 0px;
}
p.ParaOverride-7 {
  margin-top: 2px;
}
p.ParaOverride-8 {
  margin-bottom: 9px;
  margin-top: 9px;
}
p.ParaOverride-9 {
  margin-bottom: 9px;
  margin-top: 0px;
}
p.ParaOverride-10 {
  margin-bottom: 7px;
  margin-top: 0px;
}
p.ParaOverride-11 {
  margin-top: 18px;
}
p.ParaOverride-12 {
  margin-left: 98px;
}
p.ParaOverride-13 {
  margin-top: 82px;
}
p.ParaOverride-14 {
  margin-bottom: 1px;
  margin-top: 25px;
}
p.ParaOverride-15 {
  margin-top: 0px;
  page-break-after: always;
}
p.ParaOverride-16 {
  margin-top: 0px;
  text-indent: 18px;
}
h3.ParaOverride-17 {
  margin-bottom: 8px;
}
h2.ParaOverride-18 {
  text-align: left;
}
p.ParaOverride-19 {
  margin-left: 24px;
  margin-top: 6px;
}
p.ParaOverride-20 {
  margin-left: 24px;
}
p.ParaOverride-21 {
  margin-left: 18px;
  margin-top: 6px;
  text-indent: -18px;
}
p.ParaOverride-22 {
  margin-left: 18px;
  text-indent: -18px;
}
p.ParaOverride-23 {
  margin-bottom: 6px;
  margin-left: 18px;
  text-indent: -18px;
}
span.CharOverride-1 {
  font-family: "Times LT Std", serif;
  font-style: normal;
  font-weight: normal;
}
span.CharOverride-2 {
  font-family: "Times LT Std", serif;
  font-style: normal;
  font-weight: bold;
}
span.CharOverride-3 {
  font-family: Times;
  font-size: 0.909em;
  font-style: normal;
  font-weight: normal;
}
span.CharOverride-4 {
  color: #006db6;
}
span.CharOverride-5 {
  color: #000000;
}
span.CharOverride-6 {
  font-family: "ITC Franklin Gothic Std Book", sans-serif;
  font-size: 1.272em;
  font-style: normal;
  font-weight: 600;
}
span.CharOverride-7 {
  font-family: Times, serif;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
}
span.CharOverride-8 {
  color: #000000;
  font-size: 1em;
}
span.CharOverride-9 {
  -epub-text-combine: none;
  color: #000000;
  font-family: Times, serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}
span.CharOverride-10 {
  -epub-text-combine: none;
  color: #006db6;
  font-family: Times, serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
}
span.CharOverride-11 {
  color: #006db6;
  font-family: Times;
  font-style: normal;
  font-weight: bold;
}
span.CharOverride-12 {
  font-size: 1.1em;
}
span.CharOverride-13 {
  font-size: 0.778em;
}
span.CharOverride-14 {
  font-family: Times;
  font-style: italic;
  font-weight: normal;
}
span.CharOverride-15 {
  font-family: Times;
  font-style: normal;
  font-weight: normal;
}
span.CharOverride-16 {
  font-family: Times;
}
p._idGenParaOverride-1 {
  page-break-after: always;
}
span._idGenCharOverride-1 {
  font-size: 1em;
}
span._idGenCharOverride-2 {
  font-family: Times;
}
#_idContainer000 {
  display: inline-block;
  padding: 5.5px 9px 9px 9px;
  width: 413px;
}
#_idContainer001 {
  height: 33.51px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 5.95px;
  z-index: 0;
}
#_idContainer002 {
  height: 33.51px;
  left: 33px;
  position: relative;
  top: -34px;
  width: 5.95px;
  z-index: 1;
}
#_idContainer003 {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 39px;
}
#_idContainer005 {
  display: inline-block;
  height: 48px;
  width: 138px;
}
#_idContainer006 {
  display: inline-block;
  height: 56px;
  position: relative;
  width: 50px;
}
#_idContainer007,
#_idContainer008 {
  display: inline-block;
  height: 7px;
  position: relative;
  width: 23px;
}
#_idContainer009 {
  display: inline-block;
  height: 34px;
  width: 28px;
}
#_idContainer010 {
  display: inline-block;
  height: 23px;
  width: 27px;
}
#_idContainer011 {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 14px;
}
img._idGenObjectAttribute-1 {
  height: 100%;
  min-width: 100%;
  width: 100%;
}
div._idGenObjectStyleOverride-1 {
  border-color: #000000;
  border-width: 1px;
}
div._idGenObjectStyleOverride-2 {
  border-width: 0px;
}
div._idGenObjectLayout-1 {
  text-align: left;
}
div._idGenObjectLayout-2 {
  margin: 3px auto 3px auto;
  text-align: center;
}
div._idGenWritingDirection-1 {
  -epub-writing-mode: horizontal-tb;
}
.AhimaEpubTitleHeader {
  paddding: 50px;
  text-align: center;
}
.AhimaEpubContainer {
  paddding: 50px;
  text-align: center;
}
.AhimaEpubTitleFooter {
  margin-top: 50px;
  text-align: center;
}

.AhimaCopyBox {
  padding: 0px 10px 10px 10px;
  border: 1px solid #000000;
}
.AhimaEpubTocLink:hover,
.AhimaEpubTocLink:focus,
.AhimaEpubTocLink:active {
  background-color: #ffffcc !important;
  color: #b50010;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 4px;
  text-decoration: underline;
  text-decoration-color: #b50010;
}
.AhimaEpubTocLink:visited {
  color: #804180;
  text-decoration: underline;
  text-decoration-color: #804180;
}
